{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
        <div class="avatar">
          <img class="img-circle" src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" alt="Responsive image">
        </div>
        <h3>I'm <strong>{{ .Site.Params.author }}</strong>, a student at The University of Texas at Austin.</h3>
        <h3>I am currently pursuing a degree in Human Biology, with a specific interest in physical therapy .</h3>
        <h3>Here is a preview of some of my recent <a href="{{ .Site.BaseURL }}projects/"> projects</a>.</h3>
        <h3>For more information, please check out my <a a href="Oldham_Mika_resume.pdf" target="_blank"> resume</a>.</h3>
        <h3>Contact me by <a href="mailto:{{ .Site.Params.Social.Email }}">email</a> or connect through any of the sites below!</h3>
        {{ partial "social.html" . }}
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
